/* reset */

* {
	margin: 0;
	padding: 0;
	border: 0;
}

html, body {
	height: 100%;
}

body{
	line-height: 1.5em;
}

p {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

code, pre {
	font-family: monospace;
}
/* styling */

td, tr, th {
	padding: 10px;
}

table {
	border-collapse: collapse;
}

.boxframe p, .boxframe ul, .boxframe ol, .header li, .boxframe figcaption{
	font-family: "Book Antiqua", "Palatino Linotype", "Palatino LT STD", Georgia, serif;
	line-height: 21pt;
}

.header {
	border-style: solid;
	border-bottom-width: 5px;
}

.footer {
	padding-top: 3px;
}

.header h1 {
	font-size: 2em;
	line-height: 2em;
	font-family: Tahoma, sans-serif;
	text-transform: uppercase;
}

.boxframe h1 {
	font-size: 1.75em;
	line-height: 1.75em;
}

.boxframe > iframe {
	width: 100%;
}

.header li{
	list-style: none;
	display: inline-block;
	margin-left: 1px;
	margin-right: 1px;
	padding-left: 0.25em;
	padding-right: 0.25em;
}

.header li:hover, .header li:focus {
	background: #aaaaaa;
}

.header h2, .boxframe h2 {
	font-size: 1.5em;
	line-height: 1.5em;
}

.midheader {
	border-style: solid;
	border-bottom-width: 3px;
}

.boxframe h3 {
	font-size: 1.25em;
	line-height: 1.25em;
}

.boxframe {
	margin-top: 20px;
}

.boxframe h1, .boxframe h2, .boxframe h3, .boxframe h4 {
	margin-top: 0.75em;
	margin-bottom: 0.5em;
	font-family: Tahoma, sans-serif;
}

.boxframe h4 {
	text-transform: uppercase;
}

.boxframe ol, .boxframe ul {
	margin-left: 1.35em;
}

.boxframe ul {
	margin-top: 1em;
	margin-bottom: 1em;
}

.left, .right, .center {
	/*clear: both;*/
	width: 85%;
	margin-left: auto;
	margin-right: auto;
}

.left, .right: {
	margin-bottom: 1.5em;
}

figure{
	width: 100%;
	margin: auto;
	/*text-align: center;*/
}

.text-center{
	text-align: center;
}

figure figcaption {
	text-align: center;
	display: block;
}

.logo-small{
	width: 25px;
	height: 25px;
}

.alwaysright {
	float: right;
}

.textright{
	text-align: right;
}

.chili {
	width: 16px;
}

#gratipay{
	padding-top: 3px;
}

.pagetitle {
	display: inline;
	margin-right: 5px;
}

.leftmargin{
	margin-left: 5px;
}

.rightmargin{
	margin-right: 5px;
}

.latest{
	margin-top: 15px;
}

.logodiv{
	display: inline;
	float: left;
}

.header-text {
}

.twitter-icon {
	display: inline;
	float: right;
	margin: 3px;
}

.post-img{
	width: 80%;
	margin: auto;
	display: block;
}

.post-img-max {
	max-width: 300px;
}

#treehouse-mobile {
	display: block;
}

#treehouse-fullsize {
	display: none;
}

#udemy-mobile {
	display: block;
}

#udemy-fullsize {
	display: none;
}

#share {
    margin: 10px 0;
}

#share > h2 {
    font-size: 1.2em;
}

#share > ul {
    list-style: none;
    margin: 5px 0;
}

#share > ul > li {
    display: inline;
}

#share > ul > li > a, #share > ul > li > a:hover {
    text-decoration: none;
}

#share > ul > li > a > svg {
    width: 50px;
    height: 50px;
    fill: #333;
}

.next-page-links {
	min-height: 10px;
	overflow: hidden;
}

.prev-link {
	float: left;
	margin-bottom: 10px;
}

.next-link {
	float: right;
	margin-bottom: 10px;
}

@media all and (max-width: 800px){
	.logo {
		margin-left: auto;
		margin-right: auto;
		display: block;
		width: 87px;
	}
}

@media all and (min-width: 800px){
	.left {
		float: left;
	}

	.right{
		float: right;
	}

	.left, .right {
		width: 48%;
	}

	.center {
		width: 75%;
		max-width: 800px;
		margin-left: auto;
		margin-right: auto;
	}

	.header-text{
		display: inline;
		width: 80%;
	}

	.header-left {
		width: 60%;
		display: inline-block;
	}

	.header-right {	
		width: 20%;
		float: right;
		padding-top: 15px;
	}

	.logo {
		width: 87px;
	}

	#treehouse-mobile {
		display: none;
	}

	#treehouse-fullsize {
		display: block;
	}

	#udemy-mobile {
		display: none;
	}

	#udemy-fullsize {
		display: block;
	}

	.boxframe > iframe {
		width: 50%;
	}
}
