/* reset */

* {
	margin: 0;
	padding: 0;
	border: 0;
}

html, body {
	height: 100%;
}

body{
	line-height: 100%
}

p {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

code, pre {
	font-family: monospace;
}
/* styling */

.boxframe p, .boxframe ul, .boxframe ol, .header li, .boxframe figcaption{
	font-family: "Book Antiqua", "Palatino Linotype", "Palatino LT STD", Georgia, serif;
	line-height: 1.5em;
}

.header {
	border-style: solid;
	border-bottom-width: 5px;
}

.footer {
	border-style: solid;
	border-top-width: 1px;
	padding-top: 3px;
}

.header h1 { 
	font-size: 2em;
	line-height: 2em;
	font-family: Tahoma, sans-serif;
	text-transform: uppercase;
}

.header li{
	list-style: none;
	display: inline-block;
	margin-left: 1px;
	margin-right: 1px;
	padding-left: 0.25em;
	padding-right: 0.25em;
}

.header li:hover, .header li:focus {
	background: #aaaaaa;
}

.header h2, .boxframe h2 {
	font-size: 1.5em;
	line-height: 1.5em;
}

.midheader { 
	border-style: solid;
	border-bottom-width: 3px;
}

.boxframe h3 {
	font-size: 1.25em;
	line-height: 1.25em;
}

.center {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}

.boxframe {
	margin-top: 20px;
}

.boxframe h2, .boxframe h3, .boxframe h4 { 
	margin-top: 0.75em;
	margin-bottom: 0.5em;
	font-family: Tahoma, sans-serif;
}

.boxframe h4 { 
	text-transform: uppercase;
}

.boxframe ol, .boxframe ul {
	margin-left: 1.35em;
}

.boxframe ul {
	margin-top: 1em;
	margin-bottom: 1em;
}

.left, .right {
	margin-bottom: 1.5em;
	width: 48%;
}

.left {
	float: left;
}

.right{
	float: right;
}