---
layout: default
title: Practice Python
---

<div class="left">
<h2> Exercises </h2>
<ul>
	{% for post in site.tags.exercise %}
    <li>
      <a href="{{ post.url }}">{{ post.number }}: {{ post.title }}</a>
    </li>
  {% endfor %}
</ul>
</div>

<div class="right">
<h2> Solutions </h2>
<ul>
  {% for post in site.tags.solution %}
    <li>
      <a href="{{ post.url }}">{{ post.number }}: {{ post.title }}</a>
    </li>
  {% endfor %}
</ul>
</div>

<h2> Latest exercise</h2>

{{ site.tags.exercise | first }}