---
layout: default
title: Practice Python
---

<div class="latest">
{% for post in site.categories.exercise limit:1 %}
	<p><a href="{{ site.baseurl }}{{ post.url }}">Latest exercise</a>: Exercise {{ post.number }} on {{ post.date | date_to_long_string }}</p>

{% endfor %}


{% for post in site.categories.solution limit:1 %}
	<p><a href="{{ site.baseurl }}{{ post.url }}">Latest solution</a>: Solution {{ post.number }} on {{ post.date | date_to_long_string }}</p>

{% endfor %}

{% for post in site.categories.blog limit:1 %}
	<p><a href="{{ site.baseurl }}{{ post.url }}">Latest blog post</a>: <i>{{ post.title }}</i> on {{ post.date | date_to_long_string }}</p>

{% endfor %}

</div>

{% include exercises.md %}