<script>
	var random_index;
	random_index = Math.floor(Math.random() * 4);
	if (random_index == 0){
		// coursera
		document.getElementById('bottom_banner').innerHTML = '<a href="http://click.linksynergy.com/fs-bin/click?id=xcNOXHETw7Y&offerid=479491.399&subid=0&type=4"><IMG border="0"   alt="Step forward in 2017: Build in-demand career skills with Coursera" src="http://ad.linksynergy.com/fs-bin/show?id=xcNOXHETw7Y&bids=479491.399&subid=0&type=4&gridnum=16"></a>';
	} else if (random_index == 1){
		// udemy

	} else if (random_index == 2){
		// treehouse
		document.getElementById('bottom_banner').innerHTML = '<a href="//treehouse.7eer.net/c/348966/230400/3944"><img src="//a.impactradius-go.com/display-ad/3944-230400" border="0" alt="" width="728" height="90"/></a><img height="0" width="0" src="//treehouse.7eer.net/i/348966/230400/3944" style="position:absolute;visibility:hidden;" border="0" />'
	} else if (random_index == 3){
		// amazon

	} else if (random_index == 4){
		// google ads

	}
</script>

