<!DOCTYPE html>
<html>
<head>
	<title>{{ page.title }}</title>
	<meta name="author" content="Michele Pratusevich, michele.pratusevich@gmail.com">
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}css/main.css">
	<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}css/syntax.css">
</head>
<body>

{% include header.html %}

<div class="center boxframe">	
	{% if page.date %}
		<h4>{{ page.date | date_to_long_string}}</h4>
	{% endif %}

	{{ content }}
</div>

{% include footer.html %}

</body>
</html>